{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'insta/css/mycss.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>
<body>
<div class = "container-fluid">
	{% for item in user_data %}

		<div class="row">
  			<div class="col-sm-2"></div>  				
  			<div class="col-sm-2">
  				<img src= "{% static 'insta/img/insta.png' %}" alt="My image" height=50 width=50 />
				<img src="{% static 'insta/img/insta1.png' %}" height=70 width=100>
			</div>
  			<div class="col-sm-4">
  				<div class="header1">
  				<form action="action_page.php">  
  					<input type="search" name="googlesearch" size=50>
  					<input type="submit">
				</form>
				</div>
			</div>
  			<div class="col-sm-2">
  				<div class="header">
  					<img src="{% static 'insta/img/heart.jpg' %}" height=50 width=50>
		    		<a href="MyProfile/?profile={{ item.id }}">MyProfile</a>
		    	</div>
			</div>
			<div class="col-sm-2"></div>  				

		</div>
			
		<div class="mid">
			<div class ="Friends1">
    		<div class="match1">
    		<div class= "row">
    			<div class="col-sm-6"><p class="sug">DISCOVER PEOPLE</p></div>
    			<div class="col-sm-6"></div>
    			
    		</div>
    		{% for val in friends %}
    		<div class="match2">
       		<div class="row" > 
	  			<div class="col-sm-1"><a href="friend_profile/?myid={{ item.id }}&urid={{val.id}}"><img src="{{ val.Profile_pic.url }}" class="pic"/></a></div>
	  			<div class="col-sm-2" ><a href="friend_profile/?myid={{ item.id }}&urid={{val.id}}"><p class="name">{{val.Name}}</p></a></div> 
	  			<div class="col-sm-7" class=></div>
	  			<div class="col-sm-2" class="formm">
	  				<form  action="friend_request/" method="POST">
								{% csrf_token %}
								<input type="hidden" name="User_No" value="{{item.id}}" id="User_No">
						        <input type="hidden" name="Friend_No" value="{{val.id}}" id="Friend_No">
						        <input type="submit" class= "btn1" value="Follow" onClick=" this.disabled=true;this.value='Requested';this.form.submit()" >
					</form>
	  			</div>
	  		</div>
	  		</div>
	  		{% endfor %}
	  		</div>
	  		</div>	



    		<div class="user_post">


    		</div>
		
		{% endfor %}
		</div>

</div>




</body>
</html>